*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    list-style:none;
    text-decoration:none;
    transition:all .1s;
    user-select:none;
  }
  
  
  /*--color shotcut--*/
  :root {
    --orange:#ff523b;
    --white:#fff;
  }
  
  
  body{
    font-family: 'Roboto', sans-serif;
    overflow-x:hidden;
  }
  
  
  header{
    background: url(../images/image11.png);
    background-size: cover;
    /* background-position: 100%; */
    background-attachment: fixed;
    width: 100%;
    height: 83vh;
    position: relative;
  
  }
  
  
  header:before{
    content:"";
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    z-index:0;
    background:rgba(211, 134, 134, 0.3);
  }
  
  
  header nav{
    background:rgb(0 0 0 / 30%);
    color:var(--white);
    display:flex;
    position:relative;
    padding:25px 30px;
  }
  #nav {
    position: sticky;
    top: 0;
    overflow: hidden;
    z-index: 122;
    background-color: rgb(7, 7, 7);
  }
  
  header nav .fa-bars,
  header nav .fa-remove{
    display:none;
  }
  
  header nav img{
    margin-right: 3em;
    width:120px;
  }
  
  header nav ul{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:20px;
    height:100%;
    text-transform:uppercase;
  }
  
  header nav ul li{
    cursor:pointer;
  }
  
  header nav ul li:hover{
    color:#ff523b;
  }
  
  
  header nav ul:nth-child(2){
    height:auto;
  }
  
  
  header nav ul:nth-child(3){
    position:absolute;
    top:0%;
    right:30px;
    font-weight:100;
  }
  
  
  header .content{
    position:absolute;
    top: 28%;
    left:100px;
    transform:translate(0,-50%);
    text-transform:capitalize;
    color:#fff;
    width:400px;
  }
  
  
  header .content  .heading{
    font-size:3em;
  }
  
  
  header .content h4{
    margin-top:20px;
    font-weight:600;
    font-size:1.3em;
  }
  
  header .content button{
    border:1px solid var(--white);
    outline:none;
    padding:15px 25px;
    margin-top:20px;
    margin-right:20px;
    text-transform:uppercase;
    font-size:.90em;
    background:none;
    color:var(--white);
    font-weight:100;
    cursor:pointer;
    transition:all .5s;
  }
  
  
  header .content .shopNow{
    background:var(--white);
    color:var(--orange);
  }
  
  
  header .content .shopNow:hover{
    background:var(--orange);
    color:var(--white);
    /* border:1px solid #b8b8b8; */
  }
  
  header .content .findMore{
    background:var(--white);
    color:black;
  } 
  header .content .findMore:hover{
    background:var(--orange);
    color:white;
  }
  
  
  
  
  /*---- media queary min--0px & max--599px ----*/
  
  @media (min-width: 0px) and (max-width:599px) {
    
    
    header{
      background-position:center;
      background-size: cover;
    }
    
    header nav ul:nth-child(2){
      background:rgba(0, 52, 82,.15);
      color:var(--white);
      display:block;
      Width:auto;
      height:auto;
      text-align:left;
      padding:30px 30px;
      transition:all .5s;
      position:absolute;
      left:-162px;
      top:92px;
    }
    
    header nav ul:nth-child(2):after{
      content:"\27A7";
      position:absolute;
      top:10px;
      right:-15px;
      font-size:2em;
      cursor:pointer;
    }
    
    header nav ul:nth-child(2):after:hover{
      color: #ff523b;
    }
    
    header nav ul:nth-child(3){
      background:rgba(0, 52, 82,.15);
      color:var(--white);
      display:block;
      right:0;
      top:92px;
      Width:200px;
      height:0px;
      overflow:hidden;
      text-align:center;
      transition:all .5s;
    }
    
    
    header nav ul:nth-child(3) li{
      margin:5px 0;
    }
    
    header nav ul:nth-child(3) li:nth-child(1){
      margin-top:30px;
    }
    
    header nav ul:nth-child(3) li:nth-child(5){
      margin-bottom:30px;
    }
    
    header nav .fa-bars,
    header nav .fa-remove{
      display:block;
      position:absolute;
      right:50px;
      top:50%;
      transform:translate(0,-50%);
      font-size:2em;
      cursor:pointer;
    }
    
    header nav .fa-bars:hover,
    header nav .fa-remove:hover{
      color: #ff523b;
    }
    
    
    header .content{
      left:0px;
      width:100%;
      top: 52%;
      padding:0 30px;
      font-size: 12px;
    }
    
    header .content .heading{
      font-size:2.1em;
    }
    
    header .content h4{
      font-size:1.1em;
    }
    
    header .content button{
      font-size:.80em;
    }
    
    
  }