.product {
    position: relative;
    display: inline-block;
  }
  
  .product-image {
    width: 100%;
    display: block;
  }
  
  .add-to-cart {
    transition: opacity 0.3s ease;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    background-color: #ff5722;
    color: white;
    border: none;
    cursor: pointer;
    opacity: 0; /* Hidden by default */
  }
  